<h2><%="#{@chat_user_name}さんとのチャット"%></h2>

<div id="chats">
<% @chats.each do |chat|%>
    <%if chat.isAdmin%>
    <div id="chat">
        <p style="text-align:right;">
        最新メッセージ：<%=chat.sentence%><br>
        </p>
      </div>
    <%else%>
    <div id="chat">
        生徒名：<%=chat.user.name%> <br>
        最新メッセージ：<%=chat.sentence%><br>
      </div>
    <%end%>
    <%end%>
<h3>チャット送信</h3>
<%=form_for @new_chat,url:admin_chats_path do |form|%>
    本文：<%=form.text_field :sentence%>
    <%=form.hidden_field :isAdmin,:value=> true%>
    <%=form.hidden_field :is_solved, :value=> false%>
    <%=form.hidden_field :user_id, :value=>@user_id%>
    <%=form.submit("送信する")%>
  <%end%>
