<h2><%="#{@chat_user_name}さんとのチャット"%></h2>

<div id="chats">
<% @chats.each do |chat|%>
    <%if chat.isAdmin%>
    <div id="chat_admin">
        <p style="text-align:right;">
        メッセージ：<%=chat.sentence%><br>
        </p>
      </div>
    <%else%>
    <div id="chat_student">
        生徒名：<%=chat.user.name%> <br>
        メッセージ：<%=chat.sentence%><br>
      </div>
    <%end%>
    <%end%>
</div>   
<h3>チャット送信</h3>
<form>
  <label>送りたい内容を入力してね</label><br>
  <input type="text" data-behavior="room_speaker_admin">
  <input id="user_id_admin" type="hidden" value= "<%=@user_id%>" >
</form>
