<h2><%="#{@chat_user_name}さんとのチャット"%></h2>

<div id="chats">
<% @chats.each do |chat|%>
  <%if chat.isAdmin%>
    <div class="mycomment">
    <p>
    <%=chat.sentence%>
    </p>
  </div>
    <%else%>
  <div class="balloon6">
    <div class="faceicon">
     <img src="/assets/student.png" alt="生徒">
    </div>
    <div class="chatting">
      <div class="says">
        <p><%=chat.sentence%></p>
      </div>
    </div>
  </div>
    <%end%>
    <%end%>
</div>   
<form id="send-form">
  <input type="text" id="sentence" data-behavior="room_speaker_admin" placeholder="入力後にEnterを押してね" style="width:60%;">
  <input id="user_id_admin" type="hidden" value= "<%=@user_id%>" value2= "<%=current_user.admin%>"><br>
  <label>※メールでも同じ内容が送信されます</label>
</form>
<div class="other-btn">
<button type="button" class="btn">
<%=link_to("このチャットを終了する","/admin/chats/#{@user_id}",method: :delete,data: {confirm: "本当にこのチャットを終了しますか？"})%>
 </button>
</div>