<h2><%="#{@chat_user_name}さんとのチャット"%></h2>

<div id="chats">
<% @chats.each do |chat|%>
  <%if chat.isAdmin%>
    <div class="mycomment">
    <p>
    <%=chat.sentence%>
    </p>
  </div>
    <%else%>
  <div class="balloon6">
    <div class="faceicon">
     <img src="#" alt="ここに画像">
    </div>
    <div class="chatting">
      <div class="says">
        <p><%=chat.sentence%></p>
      </div>
    </div>
  </div>
    <%end%>
    <%end%>
</div>   
<h3>チャット送信</h3>
<form>
  <label>送りたい内容を入力してね</label><br>
  <input type="text" data-behavior="room_speaker_admin">
  <input id="user_id_admin" type="hidden" value= "<%=@user_id%>" value2= "<%=current_user.admin%>">
</form>
<div class="other-btn">
<button type="button" class="btn">
<%=link_to("このチャットを終了する","/admin/chats/#{@user_id}",method: :delete,data: {confirm: "本当にこのチャットを終了しますか？"})%>
 </button>
</div>