<h2>授業一覧</h2>
<table class="table table-bordered">
<thred>
  <tr>
  <th>授業名</th>
  <th>教室</th>
  <th>教師</th>
  </tr>
</thred>
<tbody>
<% @lessons.each do |lesson|%>
<tr>
  <td><%=lesson.name%></td>
  <td><%=lesson.classroom.name%></td>
  <td><%=lesson.teacher%></td>
  <td>
  <div class="other-btn">
      <%=link_to "/admin/lessons/#{lesson.id}",method: :delete do%>
      <button type="button" class="btn" style="background-color:rgba(153,204,255,.5)">削除する</button>
      <%end%>
      </div>
  </td>
</tr>
<%end%>
</tbody>
</table>
<%=paginate @lessons%>
<div class="other-btn">
    <%=link_to "/admin/lessons/new" do%>
      <button type="button" class="btn">新規作成</button>
    <%end%>
</div>





