<h2>授業追加</h2>
<table class="table table-bordered">
<tbody>
<%=form_for @lesson,url:admin_lessons_path do |form|%>
<tr>
  <th>授業名</th>
  <td><%=form.text_field :name%></td>
</tr>
<tr>
  <th>教室</th>
  <td><%=form.select :classroom_id,@classrooms_array%></td>
</tr>
<tr>
  <th>教師</th>
  <td><%=form.text_field :teacher%></td>
</tr>
</tbody>
</table>
<div class="other-btn">
    <button type="button" class="btn"><%=form.submit("追加する")%></button>
      </div>
  <%end%>


