<h2 class="fade-in2">このような忘れ物が見つかっています</h2>

<table class="table table-bordered fade-in3">
  <thead>
    <tr>
      <th scope="col">イメージ</th>
      <th scope="col">名前</th>
      <th scope="col">詳細</th>
    </tr>
    </thead>
    <tbody>
<% @losts.each do |lost|%>
    <tr>
    <td scope="row"><%if lost.lost_picture.attached?%>
      <%=image_tag lost.lost_picture.variant(resize: "100x100")%>
      <%end%></td>
      <th scope="row"><%=link_to(lost.name,"/admin/losts/#{lost.id}")%></th>
      <td scope="row">
      <ul>
      <li><%=lost.category%></li>
      <li><%=lost.lesson.classroom.name%></li>
      <li><%=lost.lesson.name%></li>
      <li><%=lost.detail%></li>
      </ul>
      </td>
      <td>
      <div class="other-btn">
      <%=link_to "/q3/#{@matter.id}/#{lost.id}" do%>
      <button type="button" class="btn">この忘れ物に対して申請する</button>
      <%end%>
      </div>
      </td>
    </tr>
    
<%end%>
</tbody> 
    </table>
    <%=paginate @losts%>