<div id="losts">

<% @losts.each do |lost|%>
    <div id="lost">
       名前：<%=link_to(lost.name,"/losts/#{lost.id}")%>
       <br>
       カテゴリー：<%=lost.category%>
       <br>
       詳細：<%=lost.detail%>
       <br>
       教室：<%=lost.lesson.classroom.name%>
       <br>
       授業：<%=lost.lesson.name%>
       <br>
       <br>
    </div>
    <%=link_to("この忘れ物に対して申請する","/q3/#{@matter.id}/#{lost.id}")%>
<%end%>
</div>