
<%unless current_user%>
<%=render("shared/login-form")%>
<%else%>
<div id="losts">

<% @losts.each do |lost|%>
    <div id="lost">
       名前：<%=link_to(lost.name,"/admin/losts/#{lost.id}")%>
       <br>
       カテゴリー：<%=lost.category%>
       <br>
       詳細：<%=lost.detail%>
       <br>
       教室：<%=lost.lesson.classroom.name%>
       <br>
       授業：<%=lost.lesson.name%>
       <br>
       <br>
    </div>
<%end%>
</div>
<div>
<%=link_to("忘れ物追加","/admin/losts/new")%>
</div>
<br>
<div>
<%=link_to("教室一覧","/admin/classrooms")%>
</div>
<div>
<%=link_to("授業一覧","/admin/lessons")%>
</div>
<div>
<%=link_to("生徒一覧","/admin/users")%>
</div>
<div>
<%=link_to("チャット一覧","/admin/chats")%>
</div>
<%end%>

