<h2>忘れ物一覧</h2>
<%unless current_user%>
<%=render("shared/login-form")%>
<%else%>
<div id="losts">
<table class="table table-bordered">
  <thead>
    <tr>
      <th scope="col">イメージ</th>
      <th scope="col">名前</th>
      <th scope="col">詳細</th>
    </tr>
    </thead>
    <tbody>
<% @losts.each do |lost|%>

    
    <tr>
    <td scope="row">
    <%if lost.lost_picture.attached?%>
      <%=image_tag lost.lost_picture.variant(resize: "128x128")%>
      <%end%>
    </td>
      <th scope="row"><%=link_to(lost.name,"/admin/losts/#{lost.id}")%></th>
      <td scope="row">
      <ul>
      <li><%=lost.category%></li>
      <li><%=lost.lesson.classroom.name%></li>
      <li><%=lost.lesson.name%></li>
      <li><%=lost.detail%></li>
      </ul>
      </td>
    </tr>
    
<%end%>
</tbody> 
    </table>
</div>


<%end%>


