<h2>ユーザー編集</h2>
<table class="table table-bordered">
<%=form_for @user ,url:admin_user_path(@user) do |form|%>
    <tr>
    <th>ユーザーID</th>
    <td><%=form.text_field :student_id%></td>
    </tr>

    <tr>
    <th>氏名</th>
    <td><%=form.text_field :name%></td>
    </tr>

    <tr>
    <th>学部</th>
    <td><%=form.text_field :faculty%></td>
    </tr>

    <tr>
    <th>学年</th>
    <td><%=form.text_field :grade%></td>
    </tr>

    <tr>
    <th>メールアドレス</th>
    <td><%=form.text_field :email%></td>
    </tr>

    <tr>
    <th>パスワード</th>
    <td><%=form.password_field :password%></td>
    </tr>

    <tr>
    <th>パスワード(再確認)</th>
    <td><%=form.password_field :password_confirmation%></td>
    </tr>

    <tr>
    <th>履修科目</th>
    <td>
    <ul style="list-style-type: none">
    <%=form.collection_check_boxes(:lesson_ids,@lessons, :id, :name) do |lesson|%>
        <li style="list-style-type: none">
        <%=lesson.check_box%>
        <%=lesson.text%>
        </li>
    <%end%>
    </ul>
    <td>
    </tr>
    </table>
    <div class="other-btn">
    <button type="button" class="btn"><%=form.submit("保存する")%></button>
    </div>
    
<%end%>
