<% @users.each do |user|%>
    <div>
    <table>
    <tr>
    <th>ユーザーID</th>
    <td><%=user.student_id%></td>
    </tr>
    <tr>
    <th>氏名</th>
    <td><%=link_to("#{user.name}","/admin/users/#{user.id}")%></td>
    </tr>
    </table>
    <%=link_to("編集する","/admin/users/#{user.id}/edit")%>
    <%=link_to("削除する","/admin/users/#{user.id}",method: :delete)%>
    </div>
<%end%>
<div>
<%=link_to("生徒追加","/admin/users/new")%>
</div>