<h2>ユーザー詳細</h2>
<table class="table table-bordered">
<tbody>
    <tr>
    <th>ユーザーID</th>
    <td><%=@user.student_id%></td>
    </tr>

    <tr>
    <th>氏名</th>
    <td><%=@user.name%></td>
    </tr>

    <tr>
    <th>学部</th>
    <td><%=@user.faculty%></td>
    </tr>
    
    <tr>
    <th>学年</th>
    <td><%=@user.grade%></td>
    </tr>
    
    <tr>
    <th>履修科目</th>
    <td>
      <ul>
        <% @lessons.each do |lesson|%>
            <li><%=lesson.name%></li>
        <%end%>
      </ul>
      </td>
    </tr>
  </tbody>
</table>
