<!DOCTYPE html>
<html>
  <head>
    <title>Wasuremono</title>
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>

    <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_include_tag 'application', 'data-turbolinks-track': 'reload' %>
  </head>

  <body>
  
  <h1>冴えない忘れ物の届けかた</h1>
  <%if current_user%>
    <%="#{current_user.name}さん"%>
    <%=link_to("ログアウト",:session,method: :delete,data:{confirm:"本当にログアウトしますか?"})%>
  <%end%>
  <div>
  <%if flash.alert%>
    <%=flash.alert%>
  <%end%>
  </div>
    <%= yield %>
    <%if current_user%>
    <%if current_user.admin%>
    <div>
    <%=link_to("<<TOPページへ","/admin/losts")%>
    </div>
    <%else%>
    <div>
    <%=link_to("<<TOPページへ","/chats")%>
    </div>
    <%end%>
    <%end%>
  </body>
</html>
