<!DOCTYPE html>
<html>
  <head>
    <title>Wasuremono</title>
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>
    <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_include_tag 'application', 'data-turbolinks-track': 'reload' %>
    <link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.1.0/css/all.css" integrity="sha384-lKuwvrZot6UHsBSfcMvOkWwlCMgc0TaWr+30HWe3a4ltaBwTZhyTEggF5tJv8tbt" crossorigin="anonymous">
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css" integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <link href="https://fonts.googleapis.com/css2?family=Noto+Sans+JP:wght@300&display=swap" rel="stylesheet">
  </head>

  <body>
  <%if current_user%>
  <header>
  <h1>
      <%= link_to "/" do %>
        <%= image_tag "/assets/logo.png" %>
      <%end%>
  </h1>
  <nav class="pc-nav">
  <div class="current_user">
      <%if current_user%>
        <%="#{current_user.name}さん"%>
        <%=link_to("ログアウト",:session,method: :delete,data:{confirm:"本当にログアウトしますか?"})%>
    </div>
      <%end%>
  <%if current_user && current_user.admin%>
  <%=link_to"/admin/losts/new" do%>
      <button type="button" class="btn btn-sm">忘れ物追加</button>
  <%end%>
            
            <div class="drop">
              <button type="button" class="btn  btn-sm">
              各種一覧</button>
              
              <ul class="drop-menu" aria-labelledby="dropdownMenuButton">
                <li><%=link_to("忘れ物一覧","/admin/losts",class:"dropdown-item")%></li>
                <li><%=link_to("教室一覧","/admin/classrooms",class:"dropdown-item")%></li>
                <li><%=link_to("授業一覧","/admin/lessons",class:"dropdown-item")%></li>
                <li><%=link_to("生徒一覧","/admin/users",class:"dropdown-item")%></li>
              </ul>
              </div>
              
  <%=link_to "/admin/matters" do%>
        <button type="button" class="btn btn-sm">申請一覧</button>
  <%end%>
        
  <%=link_to "/admin/chats" do%>
        <button type="button" class="btn btn-sm">チャット</button> 
  <%end%>
  <%else%>
  <%=link_to "/chats" do%>
        <button type="button" class="btn btn-sm">チャット履歴</button> 
  <%end%>
        
    </nav>
  <%end%>
  </header>
  <%else%>
  
  <%end%>
  <%= yield :top %>

<%if current_user%>
<%if current_user.admin%>
  <div class="alert-box alert-by-student">
      <p class="alert-con">
        生徒からのメッセージ:
      </p>
      <button class="button_go_chat"><%=link_to("チャット一覧へ","/admin/chats")%></button>
<%else%>
    <div class="alert-box alert-by-admin">
      <p class="alert-con">
        管理人からのメッセージ
      </p>
      <button class="button_go_chat"><%=link_to("チャットルームへ","/chats")%></button>
<%end%>
  
  <button class="button_close">閉じる</button>
    </div>
<%end%>
  <div class="container back">
  <%if flash.alert%>
  <div class="alert alert-danger" role="alert">
    <%=flash.alert%>
    </div>
  <%end%>
  <%if flash.notice%>
  <div class="alert alert-primary" role="alert">
    <%=flash.notice%>
    </div>
  <%end%>
  <div class="yield">
    <%= yield %>
  </div>
    </div>
    <script src="https://code.jquery.com/jquery-3.5.1.slim.min.js" integrity="sha384-DfXdz2htPH0lsSSs5nCTpuj/zy4C+OGpamoFVy38MVBnE+IbbVYUew+OrCXaRkfj" crossorigin="anonymous"></script>
<script src="https://cdn.jsdelivr.net/npm/popper.js@1.16.0/dist/umd/popper.min.js" integrity="sha384-Q6E9RHvbIyZFJoft+2mJbHaEWldlvI9IOYy5n3zV9zzTtmI3UksdQRVvoxMfooAo" crossorigin="anonymous"></script>
<script src="https://stackpath.bootstrapcdn.com/bootstrap/4.5.0/js/bootstrap.min.js" integrity="sha384-OgVRvuATP1z7JjHLkuOU7Xw704+h835Lr+6QL9UvYjZE3Ipu6Tp75j7Bh/kR0JKI" crossorigin="anonymous"></script>
  </body>
</html>
